<h2> Calculation result </h2>

<table id="stock"></table>

<h5> Calculation result </h5>

<table id="result"></table>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>

        var url = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "stocks", id = @ViewData["id"] })';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(url)
                .done(function (data) {
                    var element = document.getElementById("placeholder");
                    element.appendChild(document.createTextNode(data.Name));
                });
        });

    </script>
