<h2> Calculated result </h2>
<h5> Stock </h5>

<table id="stock"></table>

<h5> Calculated result </h5>

<table id="result"></table>

@Scripts.Render("~/Scripts/tables.helper.js")

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>

        var url = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "stocks", id = @ViewData["id"] })';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(url)
                .done(function (data) {
                    createStockTable(document.getElementById("stock"), data);
                    createResultTable(document.getElementById("result"), data.Values);
                });
        });

    </script>
