<h1>Calculation result</h1>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>

var uri = 'api/stocks';

$.ajax({
    type: "POST",
    data: JSON.stringify(model),
    url: "api/Stocks/Save",
    contentType: "application/json"
}).done(function(res) {
    console.log('res', res);
});
</script>
